name: Build

on: pull_request

env:
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Build the Docker image
        run: docker build -t ${IMAGE_NAME} .
